<nav class="navbar navbar-expand-md navbar-dark fixed-top fixed-top">
    <img class ="navbar-brand" id="stema_uaic" src="assets/images/rsz2_stema_uaic.png" />
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" >
        </form> -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-none d-xl-block">
            </li> &nbsp;
            <li class="nav-item">
            </li> &nbsp;
            <li class="nav-item dropdown" id="last" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-language"></i> <b class="caret"></b>
                </a>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)">
                        Română
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        English                 
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
