
body{
    background: #eee;
  }
  .wrapper{
    width: 95%;
  }
  .shadow{
    box-shadow: 0 10px 4px 0 rgba(0,0,0,0.14);
  }
  .form textarea {
    border: none;
    height: 40px;
    min-height: 40px;
    resize: none;
    line-height: 28px;
    transition: height 0.3s ease-in-out;
    width: 85%;
    background-color: #E4EDDB;
    border: 1px solid #ddd;
    height: 150px;
    line-height: 21px;
    background-color: rgb(250, 250, 250);
  }
  .form textarea:hover{
    box-shadow: none;
  }
  // .form textarea:focus{
  //   border: 1px solid #ddd;
  //   height: 150px;
  //   line-height: 21px;
  //   background-color: rgb(250, 250, 250);
  // }
  .form .btn{
    margin-top: 2px;
  }
  .item{
    float: left;
    width: 100%;
    margin: 5vw 0;
  }
  .item .label{
    margin-top: 10px;
  }

  #user_logo {
    border-radius: 45%;
  }

  #hours{
      padding-right: 2vw;
  }

  #post_image{
    height: 30vw;
  }

  #post_text{
      padding-top: 3vw;
      padding-left: 5vw;
      margin-left: 5.5vw;
      padding: 8px 18px;
  }

  #post_avatar{
    border-radius: 50%;
    padding-left: 0.1vw;
  }

  #post_image{
    padding-top: 1vw;
    padding-bottom: 2vw;
    display: block;
    margin: 0 auto;
  }

  .image-upload > input
{
    display: none;
}

#text_area{
  padding-left: 8vw;
}

#post {
  position:absolute;
  left: 90%;
  bottom: 0.05px;
}

#checked{
  padding-bottom: 5px;
}


//USER BOXES 

// GENERAL STYLES

#sandbox {margin: 15px}
  
// LIST ITEMS

.user_list {
  margin: 0;
  padding: 2px 0 0;

    li {
      display: block;
      background-color: #eee;
      padding: 10px;
      box-shadow: inset 0 1px 0 #fff;
      height: 140px;
      margin-bottom: 1px;
      
      img {
        float: left;
        padding-right: 20px;
      }// img
      
      h3 {
        font-size: 2em;
        margin: 0 0 0.3rem;
        font-weight: 480;
      }// h3 
      
      .project-title {
        margin: 0;
        font-weight: 400;
        font-size: 1em
      }// project-title
      
      .project-label {
        margin: 0;
        font-style: italic;
      }// .label
      
      i {
        float: right;
        color: black;
        display: block;
        
        &:hover {
          color: #3498db;
        }// :hover
      }// i
    }// li
}// .list

// GRID ITEMS

.grid {
  list-style: none;
  
  img {
    float: left;
    padding-right: 20px;
  }
}// .grid

#box {
  height:25%;
}

#box_img{
  max-height: 5.5vw;
  max-width: 7.5vw;
  min-height: 5.5vw;
  min-width: 7.5vw;
}