
body{
    background: #eee;
  }
  .wrapper{
    width: 95%;
  }
  .shadow{
    box-shadow: 0 10px 4px 0 rgba(0,0,0,0.14);
  }
  .form textarea {
    border: none;
    height: 40px;
    min-height: 40px;
    resize: none;
    line-height: 28px;
    transition: height 0.3s ease-in-out;
    width: 85%;
    background-color: #E4EDDB;
  }
  .form textarea:hover{
    box-shadow: none;
  }
  .form textarea:focus{
    border: 1px solid #ddd;
    height: 150px;
    line-height: 21px;
    background-color: rgb(250, 250, 250);
  }
  .form .btn{
    margin-top: 2px;
  }
  .item{
    float: left;
    width: 100%;
    margin: 5vw 0;
  }
  .item .label{
    margin-top: 10px;
  }

  #user_logo {
    border-radius: 45%;
  }

  #text_area{
      padding-left: 8vw;
  }

  #hours{
      padding-right: 2vw;
  }

  #post_image{
    padding-left: 5vw;
    height: 30vw;
  }

  #post_text{
      padding-left: 5vw;
  }

  #post_avatar{
    border-radius: 50%;
    padding-left: 0.1vw;
  }