<!-- Social Wrapper Start -->
<div [@routerTransition] *ngIf="!message">
    <div *ngIf="currentFileUpload" class="progress">
        <div class="progress-bar" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
          aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
          {{progress.percentage}}%
        </div>
    </div>

    <div class="black shadow padding-10 margin-bottom" style="background-color: white;">
        <hr class="style13">
      <form class="form xl relative">
        <div class="col-1 col-persist -margin">
          <img class="pull-left width-100 round" id="user_logo" [src]="profilePicture" height="80vw" width="80vw"/>
        </div>
        <div id="text_area" >
          <textarea placeholder="Noutati ?" [(ngModel)]="content" [ngModelOptions]="{standalone: true}"></textarea>
        </div>
        <div class="col-12 col-persist -margin">
            <!-- <i class="fa fa-paper-plane" id="post" (click)="post()" style="cursor:pointer;"></i> -->
            <!-- <div id="content"> -->
            <button style="background-color: rgb(9, 32, 112)" type="button" id="post" class="btn btn-sm btn-primary" (click)="post()">&nbsp;&nbsp;&nbsp;&nbsp;Postează&nbsp;&nbsp;&nbsp;&nbsp;</button>
            <!-- </div> -->
          </div>
        <div class="col-2 col-persist -margin">
            <label for="image">
                <input type="file" name="image" id="image" (change)="selectFile($event)" style="display: none" />
                <i class="fa fa-camera" style="cursor:pointer;"></i>
             </label>
             <img *ngIf="selectedFiles" src="../../assets/images/checked.png" id= "checked" style="height: 30px ; width: 30px"/>
          </div>
      </form>
    </div>
      
  <br><br><br>

<app-post *ngFor="let post of posts" [post]="post" [profilePicture]="profilePicture" [shouldAppear]="shouldAppear"></app-post>
         
</div>

<div id="sandbox" *ngIf="message"> 

    <ul class="user_list" *ngFor="let matchingUser of matchingUsers">
      <li id="box">
        <img [src]="matchingUser.profilePic" style="cursor : pointer;"  (click)="clickedShouldModifySearch()" alt="#" id="box_img" [routerLink]="['./v',  matchingUser.firstname.toLowerCase() + '.' + matchingUser.lastname.toLowerCase() + '.' + matchingUser.id]"/>
        <h5 style="cursor : pointer;" class="project-name" (click)="clickedShouldModifySearch()" [routerLink]="['./v',  matchingUser.firstname.toLowerCase() + '.' + matchingUser.lastname.toLowerCase() + '.' + matchingUser.id]">{{matchingUser.firstname}} {{matchingUser.lastname}}</h5>
        <p class="project-title">A absolvit {{matchingUser.graduatedFaculty.name}}</p>
        <p class="project-label">Lucreaza in {{matchingUser.activityDomain.name}}</p>
      </li>
      <br><br>
    </ul>
  </div>
  