<div [@routerTransition]>
    <!-- <app-page-header [heading]="'Bootstrap Elements'" [icon]="'fa-desktop'"></app-page-header> -->
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h4>Voluntariat</h4>
        <br>
        <p>Voluntariatul este una dintre cele mai bune căi de a te implica în acțiunile Universității Alexandru Ioan Cuza, dar și de a câștiga experiența necesară dezvoltării calităților și abilităților necesare în cariera pe care vrei să o urmezi.</p>
        <br>
      <p>Este important să știi că poți fi voluntar indiferent dacă ești student sau absolvent UAIC! Te poți implica în diverse proiecte ale Fundației Alumni sau dacă ai idei de proiecte te așteptăm să ni le prezinți!
      </p>
      <p><br><br />
      <iframe src="http://www.alumni.uaic.ro/docs/inscriere_voluntari_Fundatia_Alumni_UAIC.pdf" width="700" height="965"></iframe></p>
  </div>
</div>