<div [@routerTransition]>
  <!-- <app-page-header [heading]="'Bootstrap Elements'" [icon]="'fa-desktop'"></app-page-header> -->
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Evenimente organizate în parteneriat cu Fundația Alumni UAIC</h1>
      <br>
					<hr />
          <p><strong>Evenimente organizate în parteneriat cu Fundația Alumni UAIC în anul 2015</strong></p>
          <hr />
          <p>1. Simpozionul Național al Studenților Geologi, ediția a XVI-a, 15-17 mai 2015 <br><br />
          2. <a title="SNMS" href="http://www.chem.uaic.ro/ro/manifestari/rezumate-2015.html" target="_blank">Sesiunea Națională Metodico-Științifică</a>, ediția a 44-a, Iaşi, 23 mai 2015 <br><br />
          3. <a title="SNMS" href="http://www.chem.uaic.ro/ro/manifestari/rezumate-2015.html" target="_blank">Metode și mijloace de învățământ pentru chimie&#8221;</a>, ediția a 44-a, Iaşi, 23 mai 2015 <br><br />
          4. <a title="Perspectives in the Humanities and Social Sciences: Hinting at Interdisciplinarity" href="https://conferencephss.wordpress.com/past-editions/2015-edition/" target="_blank">Perspectives in the Humanities and Social Sciences: Hinting at Interdisciplinarity</a>, ediția a II-a, Iași, 5-6 iunie 2015 <br><br />
          5. <a title="PESD Symposium" href="http://www.pesd.ro/Symposium%20Information.html" target="_blank">Present Environment and Sustainable Development</a>, ediția a X-a, 26 iunie 2015 <br><br />
          6.<a title="Comunicare stiintifica" href="http://www.chem.uaic.ro/ro/manifestari/" target="_blank"> Sesiunea de comunicare științifică a studenților, masteranzilor și doctoranzilor</a>, 29 iunie &#8211; 5 iulie 2015 <br><br />
          7. <a title="Comunicare stiintifica" href="http://www.chem.uaic.ro/ro/manifestari/" target="_blank">&#8220;Chimia &#8211; frontieră deschisă spre cunoaștere&#8221;</a>, ediția a V-a, 13-15 iulie 2015 <br><br />
          8. <a title="IT Companies@FII" href="http://profs.info.uaic.ro/~itc2fii/" target="_blank">IT Companies@FII</a> <br><br />
          9. <a href="http://eurolan.info.uaic.ro/2015/" target="_blank">Școala de Vară EUROLAN</a>, Sibiu, 2015 <br><br />
          10. <a href="http://www.cered.ro/" target="_blank">Conferința Națională de Cercetare în Educație &#8211; CERED</a>, ediția a II-a, 2-4 octombrie 2015 <br><br />
          11. Comunitățile de învățare în secolul 21. Provocări pentru Învățământul Superior, 30 septembrie 2015 <br><br />
          12. Biostatistical Analysis in Epidemiological Research, 2 octombrie 2015 <br><br />
          13. <a href="http://www.geo.uaic.ro/sig2015/" target="_blank">Sisteme informaționale geografice și teledetecție</a>, 16-18 octombrie 2015 <br><br />
          14. <a href="http://www.uaic.ro/bunvenit2015/" target="_blank">Bun Venit la UAIC!</a>, 22-24 octombrie 2015 <br><br />
          15. <a href="http://www.geo.uaic.ro/cantemir/2015/" target="_blank">Simpozionul Geografic Internațional „Dimitrie Cantemir”</a>, ediția a XXXV-a, 25-30 ocombrie 2015 <br><br />
          16. <a href="http://www.feaa.uaic.ro/geba/" target="_blank">Conferința Internațională „Globalization of Higher Education in Economics and Business Administration”</a> &#8211; GEBA 2015 <br><br />
          17. Zilele Universității &#8211; sprijin în organizare și desfășurar, 5-8 noiembrie 2015 <br><br />
          18. <a href="http://www.chem.uaic.ro/ro/manifestari/zu2015.html" target="_blank">Zilele Universității &#8211; Conferința de Chimie</a>, 15-19 noiembrie 2015 <br><br />
          19. Conferința Internațională Francofonă a doctoranzilor în drept penal, ediția a II-a, 20-22 noiembrie 2015 <br><br />
          20. Conferința Internațională studențească HUMINT, 26-27 noiembrie 2015 <br><br />
          21. Simpozionul Național Studențesc „Mihai David”, ediția a V-a, 18 decembrie 2015 <br><br />
          22. <a href="http://consilr.info.uaic.ro/2015/index.php?list=call" target="_blank">Conferința „Resurse lingvistice și instrumente pentru prelucrarea limbii române”</a></p>
          <p>&nbsp;</p>
          <hr />
          <p><strong>Evenimente organizate în parteneriat cu Fundația Alumni UAIC în anul 2014</strong></p>
          <hr />
          <p>1. <a title="IT Companies@FII" href="http://profs.info.uaic.ro/~itc2fii/" target="_blank">IT Companies@FII</a> <br><br />
          2. <a title="CRLRC" href="http://crlrc.wordpress.com/about/descriere/" target="_blank">Corpus computațional de referință pentru limba română contemporană</a> <br><br />
          3. <a title="Perspectives in the Humanities and Social Sciences: Hinting at Interdisciplinarity" href="http://www.fabula.org/actualites/perspectives-in-the-humanities-and-social-sciences-hinting-at-interdisciplinarity_61164.php" target="_blank">Perspectives in the Humanities and Social Sciences: Hinting at Interdisciplinarity</a> <br><br />
          4. <a title="DSEBA" href="http://dseba.feaa.uaic.ro/" target="_blank">The 8-th DSEBA Conference</a> <br><br />
          5. <a title="PESD Symposium" href="http://www.pesd.ro/Symposium%20Information2014.html" target="_blank">Present Environment and Sustainable Development</a> <br><br />
          6. Conferința pregătitoare a Școlii de vară EUROLAN &#8211; &#8220;Întâlnirea Consorțiului de informatică&#8221; <br><br />
          7. <a title="Conferinta - Asteptarile partenerilor industriali de la absolventii facultatilor de informatica" href="http://profs.info.uaic.ro/~consortiu/about.html" target="_blank">Conferința &#8220;Așteptările partenerilor industriali de la absolvenții facultăților de informatică&#8221;</a> <br><br />
          8. Simpozionul științific &#8220;Iași-Tel Aviv, parteneriat academic durabil&#8221; <br><br />
          9. <a title="ICCS 2014" href="http://iccs2014.info.uaic.ro/" target="_blank">21st International Conference on Conceptual Structures (ICCS 2014)</a> <br><br />
          10. <a title="SNMS" href="http://www.chem.uaic.ro/ro/manifestari/mmic-2014.html" target="_blank">Sesiunea națională metodico-ştiințifică-Metode și mijloace de învățământ pentru chimie</a>, ediția a 43-a, Iaşi, 24 mai 2014 <br><br />
          11. <a title="Comunicare stiintifica" href="http://www.chem.uaic.ro/ro/manifestari/" target="_blank">Sesiunea de comunicare științifică a studenților, masteranzilor și doctoranzilor &#8220;Chimia &#8211; frontieră deschisă spre cunoaștere&#8221;</a>, ediția a V-a, 27 iunie 2014 <br><br />
          12. <a title="Iasi-Konstanz" href="http://360.uaic.ro/blog/2014/03/26/20-de-ani-de-parteneriat-intre-uaic-si-universitatea-konstanz/" target="_blank">&#8220;Iași &#8211; Konstanz, 20 de ani de parteneriat academic&#8221;</a> <br><br />
          13. <a title="CoFR-RoCM" href="http://www.chem.uaic.ro/~cofrrocm-2014/OrganizingCommittee" target="_blank">3eme Colloque Franco-Roumain de Chimie Medicinale</a>, CoFR-RoCM 2014</p>
  </div>
</div>