<div [@routerTransition]>
    <!-- <app-page-header [heading]="'Bootstrap Elements'" [icon]="'fa-desktop'"></app-page-header> -->
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h4>Fii mentor pentru un student</h4>
        <br>
        <p>Împărțășește din experiența ta ajutând un student de anul 1 să descopere studenția și avantajele ei. Iată doar câteva dintre aspecte cu care un boboc s-ar putea familiariza cu prijinul tău:</p>
        <ul>
        <li>ce presupune viaţa de student la UAIC şi care sunt posibilităţile de dezvoltare</li>
        <li>cursuri, seminarii, laboratoare</li>
        <li>întâlnirea cu colegii şi profesorii</li>
        <li>examene, credite, burse etc.</li>
        <li>viaţa de cămin</li>
        <li>asociaţiile studenţeşti şi proiectele care li se potrivesc</li>
        <li>posibilităţile de practică şi de angajare</li>
        <li>oferta oraşului Iaşi în materie de cultură şi divertisment.</li>
        </ul>
        <p><br><br />
        Poți de asemenea, să sprijini studenții din ciclurile 2 și 3 de studii (masterat și doctorat) în a găsi oportunități de angajare sau de cercetare.<br />
        <br><br />
        Totul stă în puterea și dorința ta de facilita dezvoltarea unui student iar acesta ar putea fi modul de a da înapoi, drept mulțumire pentru ceea ce ai primit!</p>
    </div>
  </div>