<div [@routerTransition]>
  <!-- <app-page-header [heading]="'Bootstrap Elements'" [icon]="'fa-desktop'"></app-page-header> -->
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h4>Studii alumni</h4>
      <br>
      <h3>Raport instituțional privind rezultatele studiului de monitorizare a inserției pe piața muncii a absolvenților din învățământul superior</h3>
      <p><br><br>
        <iframe src="http://www.alumni.uaic.ro/publicatiile-FA-UAIC/2011_raport_UAIC_absolventi_pe_piata_muncii.pdf" width="700" height="965"></iframe></p>
  </div>
</div>