<div [@routerTransition]>
  <!-- <app-page-header [heading]="'Bootstrap Elements'" [icon]="'fa-desktop'"></app-page-header> -->
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h4>Absolventi</h4>
      <br>
      <section>
          <br>
          <ks-modal-gallery [id]="16" [modalImages]="images"
                            [slideConfig]="{infinite: false, sidePreviews: {show: false}}"
                            [buttonsConfig]="{visible: false, strategy: 1}"
                            [previewConfig]="{visible: false}"
                            [dotsConfig]="{visible: false}"></ks-modal-gallery>
        </section>
  </div>
</div>