<div style="padding-left: 10%;">
  <div class="item white shadow cf" style="width: 75%;">
    <div class="row padding">
      <div class="col-1 col-persist -margin">
        <img *ngIf="post.profilePic" [routerLink]="['./v',  post.userFirstName.toLowerCase() + '.' + post.userLastName.toLowerCase() + '.' + post.userId]" class="pull-left width-5 round" [src]="post.profilePic" height="60vw" width="60vw" style="cursor : pointer"/>
      </div>
      <div style="padding-left: 2%">
        <h5 [routerLink]="['./v',  post.userFirstName.toLowerCase() + '.' + post.userLastName.toLowerCase() + '.' + post.userId]" style="cursor : pointer">{{post.userFirstName}} {{post.userLastName}}</h5>
        <div id="content">
            <img src="../../assets/images/remove.png" *ngIf="shouldAppear" id= "remove" style="height: 15px ; width: 15px ; cursor : pointer;" (click)="delete(post.id)"/>
        </div>
          <!-- <div *ngIf="shouldAppear" ngbDropdown placement="bottom-right" ngbDropdown class="d-inline-block dropdown" style="padding-right: 10%;">
            <button class="btn btn-sm btn-default" ngbDropdownToggle></button>
            <div ngbDropdownMenu>
                <button class="dropdown-item" (click)="delete(post.id)">Șterge</button>
            </div>
          </div> -->
      </div>
      
      <div class="col-11 col-persist gutter-h-10 padding-top-15">
        <a class="pull-right label text-gray">{{post.postingDate | date}}</a>
      </div>
      </div>
        <div class="row">
          <p class="padding -padding-top">
            {{post.content}}
          </p>
          <br>
            <img *ngIf="post.imageToShow" class="pull-left width-100" [src]="post.imageToShow" style="max-height: 30vw;" />
        </div>
    
    <div class="row padding"></div>
  </div>
</div>
<br><br><br>


