#view_profile{
    background-color: rgb(13, 53, 105);
}

.profile
{
  border: 0.2px solid #fff;
  border-radius: 150px;
  padding: 5px;
  box-shadow: 1px 1px 5px;
  max-width: 10vw;
  max-height: 10vw;
  min-width: 10vw;
  min-height: 10vw;
}

.highlight:hover
{
  background-color: #f2f2f2;
}

hr
{
  width: 100px;
}

.pad
{
  padding-right:50px;
}