<div [@routerTransition]>
  <!-- <app-page-header [heading]="'Bootstrap Elements'" [icon]="'fa-desktop'"></app-page-header> -->
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
      <h4>Grupul Pro Alumni</h4>
      <br>
      <table width="650" border="0" cellspacing="1" cellpadding="1">
        <tbody>
        <tr>
        <td height="25">Vlad CANȚÂR</td>
        <td>Facultatea de Filosofie şi Ştiinţe Politice</td>
        </tr>
        <tr>
        <td height="25">Mihaela CAPRĂ</td>
        <td>Facultatea de Istorie</td>
        </tr>
        <tr>
        <td height="25">Magdalena CATARGIU</td>
        <td>Facultatea de Drept</td>
        </tr>
        <tr>
        <td height="25">Diana CHIHAIA</td>
        <td>Facultatea de Psihologie şi Ştiinţe ale Educaţiei</td>
        </tr>
        <tr>
        <td height="25">Oana CHISĂLIȚĂ</td>
        <td>Facultatea de Psihologie şi Ştiinţe ale Educaţiei</td>
        </tr>
        <tr>
        <td height="25">Mihai GAVRILĂ</td>
        <td>Facultatea de Filosofie şi Ştiinţe Social Politice</td>
        </tr>
        <tr>
        <td height="25">Bogdan IRIMIA</td>
        <td>Facultatea de Economie şi Administrarea Afacerilor</td>
        </tr>
        <tr>
        <td height="25">Constantin MATEI</td>
        <td>Facultatea de Teologie Ortodoxă</td>
        </tr>
        <tr>
        <td height="25">Cristi MIRON</td>
        <td>Facultatea de Biologie</td>
        </tr>
        <tr>
        <td height="25">Laura PĂULEȚ</td>
        <td>Facultatea de Filosofie şi Ştiinţe Social Politice</td>
        </tr>
        <tr>
        <td height="25">Ines PRODAN</td>
        <td>Facultatea de Drept</td>
        </tr>
        <tr>
        <td height="25">Magda SAMOILĂ</td>
        <td>Facultatea de Psihologie şi Ştiinţe ale Educaţiei</td>
        </tr>
        <tr>
        <td height="25">Cosmin TALPALARIU</td>
        <td>Facultatea de Informatică</td>
        </tr>
        <tr>
        <td height="25">Raluca UNGUREANU</td>
        <td>Facultatea de Psihologie şi Ştiinţe ale Educaţiei</td>
        </tr>
        </tbody>
        </table>
  </div>
</div>