<div class="">
  <h2 class="well">{{user.firstname}} {{user.lastname}}</h2>
  <br />
  <br />

  <div>
    <img class="profile" [src]="profilePicture" alt="" />
    <label for="image">
        <input type="file" name="image" id="image" (change)="selectFile($event)" style="display:none;"/>
        <i class="fa fa-edit" style="cursor:pointer; font-size:20px"></i>
     </label>
    <div class="list-group col-md-8 pull-right pad">
      <p class="list-group-item highlight">Domeniul de activitate<span class="pull-right">{{user.activityDomain.name}}</span></p>
      <p class="list-group-item highlight">Job<span class="pull-right">{{user.job}}</span></p>
      <p class="list-group-item highlight">Facultate absolvită<span class="pull-right">{{user.graduatedFaculty.name}}</span></p>
      <p class="list-group-item highlight">Anul absolvirii<span class="pull-right">{{user.graduationYear}}</span></p>
      <p class="list-group-item highlight">Ultima formă de învățământ<span class="pull-right">{{user.lastStudyType}}</span></p>
      <p class="list-group-item highlight">Domiciliu<span class="pull-right">{{user.locality}} , {{user.county}} , {{user.country}}</span></p>
      <p class="list-group-item highlight">Email<span class="pull-right">{{user.email}}</span></p>
      <p class="list-group-item highlight">Data nașterii<span class="pull-right">{{user.birthday | date}}</span></p>
      <p class="list-group-item highlight">Eu pe social media<span class="pull-right">
        <a href="#" class="fa fa-facebook"></a>&nbsp;&nbsp; &nbsp; 
        <a href="#" class="fa fa-twitter"></a>&nbsp;&nbsp; &nbsp; 
        <a href="#" class="fa fa-linkedin"></a>&nbsp;&nbsp; &nbsp;
        <a href="#" class="fa fa-instagram"></a></span></p>
      <br />

      <div class="pull-right">
        <button class="btn btn-success btn-md" >Modifică</button>
        <button class="btn btn-danger btn-md" >Schimbă parola</button>
      </div>
    </div>
  </div>
  <br/>

</div>