<div class="">
  <h2 class="well">{{userFirstName}} {{user.lastname}}</h2>
  <br />
  <br />

  <div>
    <img class="profile" [src]="profilePicture" alt="" />
    <label for="image">
        <input type="file" name="image" id="image" (change)="selectFile($event)" style="display:none;"/>
        <i class="fa fa-edit" style="cursor:pointer; font-size:20px"></i>
     </label>
    <div class="list-group col-md-8 pull-right pad">
      <p class="list-group-item highlight">Domeniul de activitate<span class="pull-right">{{user.activityDomain.name}}</span></p>
      <p class="list-group-item highlight">Job<span class="pull-right">{{user.job}}</span></p>
      <p class="list-group-item highlight">Facultate absolvită<span class="pull-right">{{user.graduatedFaculty.name}}</span></p>
      <p class="list-group-item highlight">Anul absolvirii<span class="pull-right">{{user.graduationYear}}</span></p>
      <p class="list-group-item highlight">Ultima formă de învățământ<span class="pull-right">{{user.lastStudyType}}</span></p>
      <p class="list-group-item highlight">Domiciliu<span class="pull-right">{{user.locality}} , {{user.county}} , {{user.country}}</span></p>
      <p class="list-group-item highlight">Email<span class="pull-right">{{user.email}}</span></p>
      <p class="list-group-item highlight">Data nașterii<span class="pull-right">{{user.birthday | date}}</span></p>
      <p class="list-group-item highlight">Eu pe social media<span class="pull-right">
        <a [attr.href]="user.facebookUrl" target="_blank" class="fa fa-facebook" *ngIf="user.facebookUrl"></a>&nbsp;&nbsp; &nbsp; 
        <a [attr.href]="user.twitterUrl" target="_blank" class="fa fa-twitter" *ngIf="user.twitterUrl"></a>&nbsp;&nbsp; &nbsp; 
        <a [attr.href]="user.linkedinUrl" target="_blank" class="fa fa-linkedin" *ngIf="user.linkedinUrl"></a>&nbsp;&nbsp; &nbsp;
        <a [attr.href]="user.instagramUrl" target="_blank" class="fa fa-instagram" *ngIf="user.instagramUrl"></a></span></p>
      <br />

      <div class="pull-right">
        <button class="btn btn-success btn-md" (click)="open(content)">Modifică</button>
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h5 class="modal-title">Modifică profilul</h5>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> 
            <p>&nbsp;&nbsp;&nbsp;*se modifică doar câmpurile pe care le completați</p>
            <div class="modal-body">
                <p class="list-group-item highlight">Prenume<input [(ngModel)]="firstname" [ngModelOptions]="{standalone: true}" type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder={{user.firstname}} tabindex="1"></p>
                <br>
                <p class="list-group-item highlight">Nume<input [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}" type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder={{user.lastname}} tabindex="1"></p>
                <br>
                <p class="list-group-item highlight">Domeniul de activitate<select [(ngModel)]="activityDomain" [ngModelOptions]="{standalone: true}" type="number" class="form-control input-lg">
                        <option *ngFor="let domain of domains" [ngValue]="domain">{{domain.name}}</option>
                      </select></p>
                <br>
                <p class="list-group-item highlight">Job<input [(ngModel)]="job" [ngModelOptions]="{standalone: true}" type="text" placeholder={{user.job}} class="form-control input-lg" tabindex="3"></p>
                <br>
                <p class="list-group-item highlight">Facultate absolvită<select [(ngModel)]="graduatedFaculty" [ngModelOptions]="{standalone: true}" type="number" class="form-control input-lg">
                        <option *ngFor="let level of levels" [ngValue]="level">{{level.name}}</option>
                      </select></p>
                <br>
                <p class="list-group-item highlight">Anul absolvirii<input [(ngModel)]="graduationYear" [ngModelOptions]="{standalone: true}" type="text" class="form-control input-lg" id="graduating_year" (keypress)="yearValidator($event)" minlength=4 maxlength=4></p>
                <br>
                <p class="list-group-item highlight">Ultima formă de învățământ<select [(ngModel)]="lastStudyType" [ngModelOptions]="{standalone: true}" type="number" class="form-control input-lg">
                        <option *ngFor="let learningtype of learningtypes" [ngValue]="learningtype">{{learningtype.name}}</option>
                      </select></p>
                <br>
                <p class="list-group-item highlight">Localitate <input [(ngModel)]="locality" [ngModelOptions]="{standalone: true}" type="text" id="localitate" class="form-control input-lg" placeholder={{user.locality}} tabindex="1"></p>
                <br>
                <p class="list-group-item highlight">Judet<input [(ngModel)]="county" [ngModelOptions]="{standalone: true}" type="text" id="judet" class="form-control input-lg" placeholder={{user.county}} tabindex="2"></p>
                <br>
                <p class="list-group-item highlight">Tara<input [(ngModel)]="country" [ngModelOptions]="{standalone: true}" type="text" id="tara" class="form-control input-lg" placeholder={{user.country}} tabindex="2"></p>
                <br>
                <p class="list-group-item highlight">Email<input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" class="form-control input-lg" placeholder={{user.email}} tabindex="3"></p>
                <br>
                <p class="list-group-item highlight">Profil Facebook &nbsp; <a class="fa fa-facebook"></a>&nbsp;&nbsp;(folosiți http://)<input [(ngModel)]="facebookUrl" [ngModelOptions]="{standalone: true}" type="text" name="fb_profile" id="fb" class="form-control input-lg" placeholder={{user.facebookUrl}} tabindex="1"></p>
                <br>
                <p class="list-group-item highlight">Profil Twitter &nbsp; <a class="fa fa-twitter"></a>&nbsp;&nbsp;(folosiți http://)<input [(ngModel)]="twitterUrl" [ngModelOptions]="{standalone: true}" type="text" name="tw_profile" id="tw" class="form-control input-lg" placeholder={{user.twitterUrl}} tabindex="1"></p>
                <br>
                <p class="list-group-item highlight">Profil Linkedin &nbsp; <a class="fa fa-linkedin"></a>&nbsp;&nbsp;(folosiți http://)<input [(ngModel)]="linkedinUrl" [ngModelOptions]="{standalone: true}" type="text" name="li_profile" id="li" class="form-control input-lg" placeholder={{user.linkedinUrl}} tabindex="1"></p>
                <br>
                <p class="list-group-item highlight">Profil Instagram &nbsp; <a class="fa fa-instagram"></a>&nbsp;&nbsp;(folosiți http://)<input [(ngModel)]="instagramUrl" [ngModelOptions]="{standalone: true}" type="text" name="ins_profile" id="ins" class="form-control input-lg" placeholder={{user.instagramUrl}} tabindex="1"></p>
                <br />
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-md" (click)="saveModifs()">Salvează modificările</button>
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Închide</button>
            </div>
        </ng-template>
        <button class="btn btn-danger btn-md" >Schimbă parola</button>

        <!-- MODAL -->
        <!-- END MODAL -->

      </div>
    </div>
  </div>
  <br/>

</div>