<div [@routerTransition] *ngIf="!message">
    <div>
        <!-- <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2> -->
        <br>
        <div class="row">
            <div class="col-md-12">
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let slider of sliders">
                        <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%" >
                        <div class="carousel-caption">
                            <h3>{{slider.label}}</h3>
                            <p>{{slider.text}}</p>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
      </div>
    <br>
    <app-cronologypost *ngFor="let post of posts" [post]="post" [shouldAppear]="shouldAppear"></app-cronologypost>
  </div>
  
  <div id="sandbox" *ngIf="message"> 
  
    <ul class="user_list" *ngFor="let matchingUser of matchingUsers">
      <li id="box">
        <img *ngIf="matchingUser.profilePic" [src]="matchingUser.profilePic" style="cursor : pointer;"  (click)="clickedShouldModifySearch()" alt="#" id="box_img" [routerLink]="['./v',  matchingUser.firstname.toLowerCase() + '.' + matchingUser.lastname.toLowerCase() + '.' + matchingUser.id]"/>
        <h5 style="cursor : pointer;" class="project-name" (click)="clickedShouldModifySearch()" [routerLink]="['./v',  matchingUser.firstname.toLowerCase() + '.' + matchingUser.lastname.toLowerCase() + '.' + matchingUser.id]">{{matchingUser.firstname}} {{matchingUser.lastname}}</h5>
        <p class="project-title">A absolvit {{matchingUser.graduatedFaculty.name}}</p>
        <p class="project-label">Lucreaza in {{matchingUser.activityDomain.name}}</p>
      </li>
      <br><br>
    </ul>
  </div>