<div [@routerTransition]>
    <!-- <app-page-header [heading]="'Bootstrap Elements'" [icon]="'fa-desktop'"></app-page-header> -->
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h4>Asociații studențești</h4>
        <br>
        <p><a href="http://www.aieseciasi.ro" title="AIESEC Iasi" target="_blank">AIESEC</a> &#8211; Asociația Internațională a Studenților în Economie și Management<br />
          <a href="http://www.anssa-iasi.go.ro" title="ANSSA" target="_blank">ANSSA</a> &#8211; Asociaţia Naţională a Studenţilor în Ştiinţe Administrative / <a href="http://anssaiasi.discutfree.com" title="ANSSA Forum" target="_blank">Forum</a><br />
          <a href="http://asaffi-cuza.blogspot.com" title="ASAFFI" target="_blank">ASAFFI</a> &#8211; Asociația Studenților și Absolvenților Facultății de Filosofie din Iași<br />
          <a href="http://www.aegee-iasi.ro" title="AEGEE" target="_blank">AEGEE</a> &#8211; Asociaţia Studenţilor Europeni / <a href="http://isaegee.wordpress.com" title="AEGEE" target="_blank">Blog</a><br />
          <a href="http://www.asfi.ro" title="ASFI" target="_blank">ASFI</a> &#8211; Asociaţia studenţilor francofoni din Iaşi/ <a href="http://www.a-s-f-i.blogspot.com" title="Blog ASFI" target="_blank">Blog</a><br />
          <a href="http://www.asii.ro" title="ASII" target="_blank">ASII</a> &#8211; Asociaţia Studenţilor Informaticieni Ieşeni / <a href="http://blog.asii.ro" title="Blog ASII" target="_blank">Blog</a><br />
          <a href="http://asj-iasi.blogspot.com" title="ASJ" target="_blank">ASJ</a> &#8211; Asociaţia Studenţilor Jurnalişti<br />
          <a href="http://www.asdmark.org" title="asdMARK" target="_blank">asdMARK</a> &#8211; Asociaţia Studenţilor din Domeniul Marketing<br />
          ASALT &#8211; Asociația Studenților și Absolvenților de Asistență Socială Iași<br />
          <a href="http://www.ascoriasi.ro" title="ASCOR" target="_blank">ASCOR</a> &#8211; Asociaţia Studenţilor Creştini Ortodocşi Români<br />
          ATEFS &#8211; Asociaţia Tinerilor din Educaţie Fizică şi Sport<br />
          <a href="http://www.iasi.elsa.ro" title="ELSA" target="_blank">ELSA</a> &#8211; Asociaţia Europeană a Studenţilor în Drept<br />
          ESN &#8211; Erasmus Student Network Iaşi<br />
          <a href="http://www.lse.ro" title="LSE" target="_blank">LSE</a> &#8211; Liga studenţilor economişti<br />
          LSGG &#8211; Liga Studenţilor de la Geografie şi Geologie<br />
          <a href="http://primeiasi.wordpress.com" title="PRIME" target="_blank">PRIME</a> Iași<br />
          <a href="http://www.teris.ro" title="TERIS" target="_blank">TERIS</a> &#8211; Asociația &#8220;Tinerii Ecologi Români din Iași&#8221; / <a href="http://www.asociatia-teris.blogspot.com" title="Blog TERIS" target="_blank">Blog</a><br />
          <a href="http://www.asociatia-spp.ro" title="ASPP" target="_blank">ASPP</a> &#8211; Asociația &#8220;Societatea Pentru Psihologie&#8221;<br />
          <a href="http://www.gipsyeye.com" title="Gipsy Eye" target="_blank">ASGE</a> &#8211; Asociaţia studenţească Gipsy Eye<br />
          <a href="http://erasmusiasi.wordpress.com" title="IEI" target="_blank">IEI</a> &#8211; Inițiativa Erasmus Iași<br />
          <a href="http://www.rotalent.org" title="RO-Talent" target="_blank">RO-Talent</a> &#8211; Asociația Română de Asistență Psihopedagogică și Socială și de Promovare a Talentelor</p>
    </div>
  </div>