<div [@routerTransition]>
  <!-- <app-page-header [heading]="'Bootstrap Elements'" [icon]="'fa-desktop'"></app-page-header> -->
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
        <br>
        <h2 align="center">Evenimente Alumni</h2>
        <br>

        <!-- <div *ngIf="!beginning && user.userRole == 'admin'"> -->
<div>
    <button type="button" style="background-color: rgb(14, 69, 141);" class="btn btn-info" (click)="open(content)" >Adaugă un eveniment</button>
    <ng-template #content let-c="close" let-d="dismiss" style="width: 500vw;" >
            <div class="modal-header">
                <h5 class="modal-title">Adaugă un eveniment</h5>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <p *ngIf="backMsg" style="color: rgb(148, 31, 31);">&nbsp;&nbsp;&nbsp;*&nbsp;{{backMsg}}</p>
            <p *ngIf="succesMsg">&nbsp;&nbsp;&nbsp;*&nbsp;{{succesMsg}}</p> 
            <div class="modal-body">
                <p class="list-group-item highlight">Titlu&nbsp;&nbsp;&nbsp;<input [(ngModel)]="eventTitle" [ngModelOptions]="{standalone: true}" type="text" class="form-control input-lg" tabindex="1"></p>
                <br>
                <!-- <p class="list-group-item highlight">Conținut&nbsp;&nbsp;&nbsp;<textarea style="min-height: 25vw" [(ngModel)]="articleContent" [ngModelOptions]="{standalone: true}" type="text" class="form-control input-lg" tabindex="1"></textarea></p> -->
                <quill-editor [(ngModel)]="eventContent"
                  [options]="editorOptions"
                  (blur)="onEditorBlured($event)"
                  (focus)="onEditorFocused($event)"
                  (ready)="onEditorCreated($event)"
                  (change)="onContentChanged($event)"></quill-editor>
                <br>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-md" (click)="addNewEvent()">Publică</button>
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Anulează</button>
            </div>
        </ng-template>
    </div>

    <div>
        <ul *ngFor="let event of events">
          <li [routerLink]="['./event', event.id]">
            <!-- <img src="http://lorempixum.com/100/100/nature/1" > -->
            <h3>{{event.title}}</h3>
            <div [innerHTML]="event.content.slice(0,600)"> </div>
          </li>
          <br>
        </ul>
      </div>
    
  </div>
</div>