<div [@routerTransition]>
  <!-- <app-page-header [heading]="'Bootstrap Elements'" [icon]="'fa-desktop'"></app-page-header> -->
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Evenimente</h1>
      <br>
      <p>Fundația Alumni a Universității ”Alexandru Ioan Cuza din Iași” organizează evenimente dedicate atât absolvenților, cât și viitorilor absolvenți, dorind să asigure o comunicare permanentă între aceștia și Universitate și de asemenea, să dezvolte o rețea cât mai puternică de membri care să promoveze valorile acesteia.</p>
      <p>&nbsp;</p>
      <p>Puteți afla informații legate de evenimentele de interes general la nivelul Universității sau al facultăților din cadrul Universității, informații despre reuniunile sau cursurile festive pe care dorim să vă ajutăm să le organizați (indiferent de generația din care faceți parte).</p>
      <p>&nbsp;</p>
  </div>
</div>