* {margin: 0;}

ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
  float: left;
  margin: 0 15px 0 0;
}

li p {
  font: 200 14px/1.5;
}

li {
  padding: 5px;
  overflow: auto;
}

li:hover {
  background: #eee;
  cursor: pointer;
}