<div class="card-body">
  <ul class="timeline" *ngFor="let article of articles">
      <li *ngIf="articles.indexOf(article) % 2 == 0; else even">
          <div class="timeline-panel">
              <div class="timeline-heading">
                  <h4 class="timeline-title">{{article.title}}</h4>
                  <p><small class="text-muted"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{article.postingDate | date}}</small>
                  </p>
              </div>
              <div class="timeline-body">
                <div [innerHTML]="article.content.slice(0,600)"> </div> <br> <p [routerLink]="['./article', article.id]" style="cursor : pointer">... Citește mai mult »</p>
              </div>
          </div>
      </li>
      <ng-template #even>
        <li class="timeline-inverted">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{article.title}}</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{article.postingDate | date}}</small>
                </div>
                <div class="timeline-body">
                    <div [innerHTML]="article.content.slice(0,600)"> </div> <br> <p [routerLink]="['./article', article.id]" style="cursor : pointer">... Citește mai mult »</p>
                </div>
            </div>
        </li>
       </ng-template>
  </ul>
</div>
