<div [@routerTransition]>
    <!-- <app-page-header [heading]="'Bootstrap Elements'" [icon]="'fa-desktop'"></app-page-header> -->
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h4>Sponsori</h4>
        <br>
        <h3><span style="font-size: small;"><strong>Vă mulțumim tuturor celor dintre dumnevoastră care iși doresc să sprijine Fundația Alumni &#8211; Universitatea „Alexandru Ioan Cuza” din Iași prin alocarea a 2% din impozitul pe venitul dumneavostră pentru susținerea și dezvoltarea proiectelor fundației. Nutrim speranța că sprijinul dumneavoastră ne va ajuta și în acest an în continuarea activităților non-profit pentru studenții și absolvenții UAIC.</strong></span></h3>
        <p>Doriți să sprijiniți inițiativele Fundației Alumni și proiectele pe care le implementează, contactați-ne și vom discuta despre cea mai avantajoasă cale de colaborare.<br />
        <br><br />
        Dacă sunteți salariat și doriți să direcționați 2% din impozițul dumneavoastră pentru sprijinirea activităților Fundației Alumni, citiți informațiile de mai jos. Pe acest site veți fi pus la curent cu toate proiectele și acțiunile pe care le inițiază și implementează Fundația Alumni UAIC.<br />
        <br></p>
        <h3>Ce înseamnă 2%</h3>
        <p>Prevederea 2% este un mecanism de transparență fiscală prin intermediul căruia contribuabilii persoane fizice pot să direcționeze 2% din impozitul lor pe venit către o organizație nonguvernamentală (asociație sau fundație).</p>
        <p>Puteți, astfel, decide către cine merg cei 2% din impozitul dumneavoastră!</p>
        <p>&nbsp;</p>
        <h3>Ce trebuie să faceți</h3>
        <p><strong>Pasul 1</strong>: Alegeți un domeniu și o organizație către care vreți să direcționați 2% din impozitul dumneavoastră. Dacă ne-ați ales pe noi, datele noastre sunt:</p>
        <p>Nume: Fundația Alumni &#8211; Universitatea &#8220;Alexandru Ioan Cuza din Iași&#8221;<br />
        CIF: 21591880<br />
        Cont bancar: RO90BRDE240SV76562202400</p>
        <p>&nbsp;</p>
        <p><strong>Pasul 2</strong>: Completați datele pe declarație, în funcție de sursa dumneavoastră de venit:</p>
        <p>-&gt; Dacă aveți venituri din salariu, completați declarația 230 (punctele A și B). Dacă nu cunoașteți suma corespunzătoare, puteți lăsa căsuța necompletată; suma va fi calculată de către organele fiscale.<br />
        -&gt; Dacă aveți venituri din alte surse (cedarea folosinței bunurilor, drepturi de autor etc.), completați declarația 200.</p>
        <p>&nbsp;</p>
        <p><strong>Pasul 3</strong>: Formularul completat trebuie trimis prin poștă către administrația financiară de care aparțineți.</p>
        <p><a title="Info 2%" href="http://www.anaf.ro/anaf/internet/ANAF/asistenta_contribuabili/formulare_programe_utile/formulare_explicatii/!ut/p/a1/jZDdbsIwDIWfJreNUwZkuyta1Y5p0kBilNxEyQglEk1Q6rWvT4smDU1Q8JV_vqNjmwpaUOFUY0uF1jt16GsxkTnLJ3nM4zlnHzNI-DRLZ-wdeBZ3wOYSgHTaA8vn7I1_jWAxHtJnC_arhxuRwGP6AeDO_msqhhBIx_-BKyeegYEb5lSUB6_P_9wkTo94SUUwOxNMiH5C194jHl8IEGjbNlJO7aLgCfQJAevQBGeQwKuqtG8sqm5U2xrlt3cYrJbbv4HzoTKyMc6ijIE9ya2-5rr3NdLiwo0eq9WqAPtZrXl9AiTprdY!/dl5/d5/L2dBISEvZ0FBIS9nQSEh/#230" target="_blank">Mai multe despre 2% aici</a>.<br />
        <br></p>
        <p align="center"><strong><a href="http://www.alumni.uaic.ro/docs/formular230_Fundatia_Alumni_UAIC.pdf" target="_blank">Descărcați declarația 230 completată</a> cu datele Fundației Alumni UAIC</strong></p>
        <p>&nbsp;</p>
    </div>
  </div>