<div [@routerTransition]>
  <!-- <app-page-header [heading]="'Bootstrap Elements'" [icon]="'fa-desktop'"></app-page-header> -->
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Despre noi</h1>
      <br>
    <p>Absolvenții Universității &#8220;Alexandru Ioan Cuza&#8221; din Iași reprezintă mult mai mult decat niște foști studenți. Pentru noi ei sunt ambasadorii Universității în țară și peste hotare, sunt o componentă foarte importantă pentru mediul academic ieșean, sunt oameni pe care Universitatea îi apreciază și îi respectă datorită potențialului și calităților de care dau dovadă.</p>
    <p>Fundația Alumni a Universității &#8220;Alexandru Ioan Cuza&#8221; din Iași a fost constituită pe baza hotărârii Senatului Universității &#8220;Alexandru Ioan Cuza&#8221; din Iași în ședința din data de 23.10.2006 și își propune să dezvolte și să consolideze comunitatea puternică a absolvenților, să îi ajute și, la rândul ei, să le ceară ajutorul în atingerea obiectivelor sale.</p>
  </div>
</div>