<div [@routerTransition]>
  <!-- <app-page-header [heading]="'Bootstrap Elements'" [icon]="'fa-desktop'"></app-page-header> -->
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
      <h1>Misiune și obiective</h1>
      <br>
      <h3>Misiune</h3>
      <p>Promovarea valorilor culturii, științei și civilizației prin realizarea unui parteneriat public-privat, cu implicarea absolvenților (alumni) Universității &#8220;Alexandru Ioan Cuza&#8221; din Iași, a personalităților culturale, științifice și a reprezentanților mediului socio-economic.<br />
      <br></p>
      <h3>Obiective</h3>
      <p>1. Dezvoltarea conștiinței de apartenență a absolvenților Universității Alexandru Ioan Cuza din Iași la un grup social cu înalte valori morale, civice și profesionale, membrii acestui grup fiind caracterizați prin preocuparea spre excelență; atingerea acestor țeluri se realizează atât prin activitate proprie, cât și prin colaborarea dintre absolvenții Universității Alexandru Ioan Cuza din Iași, instituția de învățământ superior pe care aceștia au absolvit-o și societate;<br />
      <br><br />
      2. Implicarea absolvenților Universității Alexandru Ioan Cuza din Iași în activitățile Fundației;<br />
      <br><br />
      3. Organizarea de activități de cercetare științifică;<br />
      <br><br />
      4. Organizarea de activități de formare profesională și specializare pentru absolvenții Universității Alexandru Ioan Cuza din Iași și pentru alte persoane;<br />
      <br><br />
      5. Promovarea culturii, științei și civilizației în rândurile marelui public;<br />
      <br><br />
      6. Sprijinirea activității de modernizare a învățământului superior, consolidarea relațiilor cu mediile universitare și de cercetare științifică din țară și străinătate;<br />
      <br><br />
      7. Promovarea de bune relații cu mediul de afaceri din țară, plasarea absolvenților în posturi corespunzătoare, sprijinirea de către întreprinzători a procesului didactic și științific din învățământul superior;<br />
      <br><br />
      8. Crearea și derularea de programe de consultanță pentru firme și instituții din țară și străinătate;<br />
      <br><br />
      9. Încurajarea tinerilor cercetători și profesori, a absolvenților Universității Alexandru Ioan Cuza din Iași, la efectuarea de studii de specializare, finanțarea stagiilor de documentare în țară și străinătate și susținerea participării acestora la conferințe și congrese interne și internaționale;<br />
      <br><br />
      10. Stimularea studenților merituoși și a absolvenților Universității Alexandru Ioan Cuza din Iași prin burse în țară și străinătate;<br />
      <br><br />
      11. Atragerea și utilizarea, în condiții legale, de surse de finanțare, resurse și bunuri economice, sub forma de subvenții, subscripții, donații, contribuții, sponsorizări și alte forme legale în vederea realizării scopului Fundației;<br />
      <br><br />
      12. Acordarea asistenței de specialitate și sprijin financiar în vederea editării de lucrări (cărți, cursuri, caiete de aplicații etc) și altor publicații cu caracter științific, cultural și artistic;<br />
      <br><br />
      13. Asigurarea finanțării din fondurile proprii a obiectivelor de investiții necesare desfășurării activității Fundației, dezvoltarea și modernizarea bazei materiale (spații destinate activităților didactice, de studiu și cercetare, social – culturale, tehnică de calcul, dotări specifice, echipamente tipografice și de multiplicat, mijloace de transport etc);<br />
      <br><br />
      14. Acordarea de sprijin financiar absolvenților Universității Alexandru Ioan Cuza din Iași și celorlalți membri ai Fundației sub forma unui ajutor mutual pentru acțiuni non profit și pentru organizarea de acțiuni cu caracter social, cultural, științific, sportiv și artistic.</p>
  </div>
</div>