<div [@routerTransition]>
  <!-- <app-page-header [heading]="'Bootstrap Elements'" [icon]="'fa-desktop'"></app-page-header> -->
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Cursuri festive</h1>
      <br>
      <p>Emoțiile de la începutul facultății, cursurile, examenele și rezultatele din timpul anilor de studiu, bucuria de a trăi la maxim viața student, de a descoperi lucruri noi, de a vă împrieteni… toate le retrăiți în ziua cursului festiv.</p>
<p><br></p>
<p>Fundația Alumni a Universității &#8220;Alexandru Ioan Cuza&#8221; din Iași vă oferă sprijinul în procesul de organizare a cursului festiv și a activităților aferente. Vă rugăm să ne contactați pentru a afla mai multe detalii legate de acest aspect și pentru a afla și alte avantaje pe care le puteți avea ca viitor absolvent al Universității &#8220;Alexandru Ioan Cuza&#8221; din Iași.</p>
<p><br><br />
<strong>Aula &#8220;Mihai Eminescu&#8221;</strong> &#8211; In funcție de disponibilitate la momentul rezervării și serviciile conexe necesare contra cost. Ofertele vor fi personalizate pentru fiecare grup în funcție de numărul de participanți și serviciile solicitate.<br />
<br><br />
<strong>Servicii curs festiv aniversar:</strong></p>
<ul>
<li>asistență în organizare și planificare eveniment</li>
<li>crearea unui Club al promoției pe pagina de internet a fundației</li>
<li>cocktail</li>
<li>decorare prezidiu (ornamente florale)</li>
<li>filmare profesională (prelucrare, montaj și videoclip)</li>
<li>fotografii digitale eveniment (individuale și de grup)</li>
<li>DVD-uri și carcase personalizate *nr absolvenți</li>
<li>diplome *nr. absolvenți</li>
<li>invitații pentru profesori sau colegi</li>
<li>album de promoție personalizat</li>
<li>sedință foto (prelucrare imagine)</li>
<li>grafică, tipărire și finisaj album</li>
<li>flori (trandafiri pentru fiecare absolvent)</li>
<li>asistență cu personal calificat pe parcusul evenimetului</li>
<li>decorare prezidiu (huse scaune, masa prezidiu, ornamente florale)</li>
<li>moment remember</li>
<li>banner sau promovare eveniment</li>
</ul>
<p><strong>Organizare banchet festiv:</strong></p>
<ul>
<li>Recomandare restaurant</li>
<li>Ofertă meniu festiv</li>
<li>aranjamente florale pentru sala de banchet</li>
<li>Filmat și fotografiat banchet + matriță 3-4 buc DVD</li>
<li>Foc de artificii</li>
<li>Sonorizare, lumini, fum, balone și alte efecte speciale</li>
<li>Momente artistice</li>
</ul>
<p><br></p>
<p><strong>Persoană de contact:</strong></p>
<p>Crina SANDU</p>
<p>Tel: 0729 545 029</p>
<p><br><br />
  </div>
</div>