<div [@routerTransition]>
  <!-- <app-page-header [heading]="'Bootstrap Elements'" [icon]="'fa-desktop'"></app-page-header> -->
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h4>Evenimente</h4>
      <br>
      <p>Indiferent în ce an ați absolvit Universitatea ”Alexandru Ioan Cuza” din Iași, ne-am bucura să vă vedem reîntâlnindu-vă colegii, povestind despre experiența de după absolvire sau prezentându-vă familia și pe cei dragi vouă!</p>
        <p><br></p>
        <p>Fundația Alumni a Universității ”Alexandru Ioan Cuza” din Iași vă oferă sprijinul în organizarea reuniunilor de după absolvire pentru a vă regăsi cu foștii colegi de an și cu amintirile atât de dragi din timpul studenției.</p>
        <p><br></p>
        <p>Pentru a afla mai multe detalii despre cum vă putem sprijini în organizarea unei reuniuni, vă încurajăm să ne contactați.</p>
        <p><br><br />
        <strong>Organizare banchet festiv:</strong></p>
        <ul>
        <li>Recomandare restaurant</li>
        <li>Ofertă meniu festiv</li>
        <li>aranjamente florale pentru sala de banchet</li>
        <li>Filmat și fotografiat banchet + matriță 3-4 buc DVD</li>
        <li>Foc de artificii</li>
        <li>Sonorizare, lumini, fum, balone și alte efecte speciale</li>
        <li>Momente artistice</li>
        </ul>
        <p><strong>Alte servicii:</strong></p>
        <ul>
        <li>Cazare</li>
        <li>Închirieri autocare și microbuze</li>
        <li>Transfer la Aeroport/Gară</li>
        <li>O vizită ghidată prin Tîrgul Ieșilor, la Muzeul Universității sau Grădina Botanică</li>
        <li>Organizare  excursie în Bucovina, Neamț sau Chișinău</li>
        <li>Degustare de vinuri</li>
        <li>Intalniri cu invitați de onoare ALUMNI UAIC sau din mediul academic ieșean</li>
        <li>Organizare dineuri aniversare pentru personalități și membri de onoare AUAIC</li>
        </ul>
<p><br></p>
  </div>
</div>