<div [@routerTransition]>
    <!-- <app-page-header [heading]="'Bootstrap Elements'" [icon]="'fa-desktop'"></app-page-header> -->
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h4>Inițiază o acțiune</h4>
        <br>
        <p>Știm că studenția a fost o perioadă importantă a vieții tale, perioadă de care îți vei aduce aminte cu puțin regret, poate, în care te-ai dezvoltat și te-ai străduit să pui bazele unui viitor frumos.<br />
        <br><br />
        Fundația Alumni își propune să ofere absolvenților săi impulsul de a retrăi puțin din anii de studenție, dar și de a simți că dețin avantajul de a aparține unei comunități puternice. Așadar, dacă ai idei care crezi că ar putea ajuta studenții sau ține aproape absolvenții UAIC, vino să ni le prezinți! Te vom asculta cu interes și te vom ajuta să le pui în aplicare.<br />
        <br><br />
        Îți mulțumim pentru interesul arătat de a deveni voluntar Alumni!</p>
    </div>
  </div>