<nav class="navbar navbar-expand-md navbar-dark fixed-top fixed-top">
  <img class ="navbar-brand" id= "stema_uaic" src="assets/images/rsz2_stema_uaic.png" />
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0" [formGroup]="loginForm">
      <input formControlName="email" class="form-control mr-sm-2" type="email" placeholder="E-mail" aria-label="Search">
      <input formControlName="password" class="form-control mr-sm-2" type="password" placeholder="Parola" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="loginForm.valid && checkLogin()">Conectează-te</button>
    </form>
  </div>
</nav>



    <!-- <nav class="navbar navbar-expand-md navbar-dark fixed-bottom" id="navbar_bottom"></nav> -->