<div [@routerTransition]>
    <!-- <app-page-header [heading]="'Bootstrap Elements'" [icon]="'fa-desktop'"></app-page-header> -->
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h3>Proiecte</h3>
        <br>
        <p>Fundația Alumni este implicată într-o serie de proiecte inițiate chiar de absolvenții și colaboratorii noștri sau în parteneriat cu alte organizații și instituții. Fiecare proiect este un prilej de a ne cunoaște mai bine absolvenții, de a duce împreună cu ei tradiția universității și de a deveni mai puternici și mai vizibili la nivelul comunității.<br />
        <br></p>
        <h3>Marșul absolvenților</h3>
        <p>Marşul absolvenţilor este un prilej de întâlnire a absolvenţilor universităţilor ieşene şi de celebrare a celor care vor deveni ambasadorii Universităţii, printr-un festival al tinereţii şi bucuriei.<br><br />
        Evenimentul se desfășoară la sfârșitul fiecărui an universitar și este organizat de <a title="UAIC" href="http://www.uaic.ro/" target="_blank">Universitatea ”Alexandru Ioan Cuza” din Iași</a> și Fundația Alumni UAIC în colaborare cu aproape toate universitățile ieșene:</p>
        <p><br></p>
        <ul>
        <li><a title="UAGE" href="http://www.arteiasi.ro/" target="_blank">Universitatea de Arte &#8220;George Enescu&#8221;</a></li>
        <li><a title="UMF" href="http://www.umfiasi.ro/Pages/Default.aspx" target="_blank">Universitatea de Medicină și Farmacie &#8220;Gr.T. Popa&#8221;</a></li>
        <li><a title="USAMV" href="http://www.uaiasi.ro/" target="_blank">Universitatea de Științe Agricole și Medicină Veterinară &#8220;Ion Ionescu de la Brad&#8221; din Iași</a></li>
        <li><a title="UTI" href="http://www.tuiasi.ro/" target="_blank">Universitatea Tehnică &#8220;Gheorghe Asachi&#8221; din Iași</a></li>
        </ul>
        <p><br></p>
        <p>Imaginile sunt cele mai grăitoare, așa că invităm să vizitați <a title="Fotografii FA UAIC" href="http://picasaweb.com/alumni.uaic" target="_blank">galeria media</a> unde veți găsi fotografii și înregistrări de la aceste evenimente.</p>
        <p><br><br />
        <hr>
        <h4>În curs de implementare</h4>
        <h3>Managementul comunicării cu alumni pentru instituții de învățământ superior din România</h3>
        <h5><strong>Durată</strong></h5>
        <p>1.11.2010 &#8211; 30.04.2013<br />
        <br></p>
        <h5><strong>Organizații partenere</strong></h5>
        <ul>
        <li><a title="UAIC" href="http://www.uaic.ro/" target="_blank">Universitatea &#8220;Alexandru Ioan Cuza&#8221; din Iași</a></li>
        <li><a title="UVT" href="http://www.uvt.ro/" target="_blank">Universitatea de Vest din Timişoara</a></li>
        <li><a title="UBB" href="http://www.ubbcluj.ro/" target="_blank">Universitatea Babeș-Bolyai din Cluj</a></li>
        <li><a title="Novensys" href="http://www.novensys.com/ro/" target="_blank">Novensys Corporation</a></li>
        <li><a title="Gold Agama" href="http://www.agama-pr.com/ro.aspx" target="_blank">Gold Agama</a></li>
        <li><a title="UNSR" href="http://www.unsr.ro/" target="_blank">Uniunea Națională a Studenților din România</a></li>
        </ul>
        <p><br></p>
        <h5><strong>Sursă finanțare</strong></h5>
        <p>Cofinanţat din Fondul Social European prin intermediul Programului Operaţional Sectorial pentru Dezvoltarea Resurselor Umane, 2007-2013, axa prioritară 1 &#8211; &#8220;Educaţia şi formarea profesională în sprijinul creşterii economice şi dezvoltării societăţii bazate pe cunoaştere&#8221;, în domeniul major de intervenţie 1.2 – &#8220;Calitate în învăţământul superior&#8221;.<br />
        <br></p>
        <h5>Scop</h5>
        <p>Creşterea gradului de comunicare între mediul universitar şi mediul economic (angajatori) în vederea promovării ofertei educaţionale, a îmbunătăţirii serviciilor oferite de sistemul de învăţământ şi corelării cererii pieţei muncii cu oferta educaţională universitară.<br />
        <br></p>
        <h5><strong>Rezultate așteptate</strong></h5>
        <ul>
        <li>o platformă de comunicare între alumni, studenţi şi profesori proiectată și dezvoltată de partenerii mai sus menționați</li>
        <li>constituirea unor centre de comunicare pentru entitățile direct interesate</li>
        <li>parteneriate între centrele universitare implicate în proiect și potențiali angajatori ai absolvenților</li>
        </ul>
        <p><br></p>
        <h5><strong>Site proiect</strong></h5>
        <p><a title="Managementul comunicarii cu Alumni" href="http://www.comunicare-alumni.ro" target="_blank">Managementul comunicării cu alumni pentru instituții de învățământ superior din România</a>.<br />
        <br></p>
        <hr>
        <h4>Proiecte finalizate</h4>
        <h3>Studiu național de monitorizare a inserției pe piața muncii a absolvenților din învățământul superior</h3>
        <h5><strong>Durată</strong></h5>
        <p>2009-2011<br />
        <br></p>
        <h5><strong>Organizații partenere</strong></h5>
        <ul>
        <li><a title="CNFIS" href="http://www.cnfis.ro/" target="_blank">Consiliul Național pentru finanțarea Învățământului Superior</a></li>
        <li><a title="INCHER" href="http://www.incher.uni-kassel.de/content/view/22/72/lang,english/" target="_blank">Universitea din Kassel (Germania) – Centrul Internațional pentru Cercetări în Învățământul Superior</a></li>
        <li>60 de universități de stat și privitate din România</li>
        </ul>
        <p><br></p>
        <h5><strong>Rezultate</strong></h5>
        <p>Consultați rezultatele studiului la care au participat absolvenții UAIC din promoțiile 2005 și 2009 în secțiunea <a title="Publicatii" href="http://www.alumni.uaic.ro/publicatii" target="_blank">Publicații</a> a site-ului nostru.<br />
        <br></p>
        <h5><strong>Site proiect</strong></h5>
        <p><a title="Absolvenții și piața muncii" href="http://www.uaic.ro/uaic/bin/view/Resources/Proiectepr-absolventi" target="_blank">Absolvenții și piata muncii. Studiu național de monitorizare</a></p>
      </div>
</div>